* {
  box-sizing: border-box;
}

.App {
  border-radius: 10px;
  bottom: 0;
  right: 20px;
  position: absolute;
  min-width: 440px;
  max-width: 500px;
  overflow: hidden;
  box-shadow: 0.5px 1px 25px 0.5px rgba(0, 0, 0, 0.3);
  padding-bottom: 8px;
}

.headerContainer {
  display: flex;
  background-color: #404040;
  padding: 10px 20px;
  justify-content: space-between;
  color: white;
}

.threeButtons .material-icons {
  margin: 0 3px;
}

.scale-down {
  transform: scale(0.8);
}

.header {
  font-size: medium;
}
